<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GuiasLab</title>
    <%-include("partials/head")%>

    </head>
<body>
        <nav class="navbar navbar-dark bg-info">
                <a class="navbar-brand" href="/">Atras</a>    
              </nav>
<a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#">UATF</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="EditText">Crear</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="EditCod">Codigo</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#archivos">Subir Archivos</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#contact">Github</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="/">Volver</a>
      </li>
      </ul>
  </nav>
<br>
  
    <div class="container">
      <div class="content-section-heading text-center">
        <h2 class="mb-5">Lista De Tareas</h2>
      </div>
      <div class="row no-gutters">
      <%for(var i=0; i<resp.practica.length ;i++) {%>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">            
                <h1>Practica: N° <%=resp.practica[i].titulo%></h1>
                <!--<p class="mb-0"> <%=resp.practica[i].texto%></p>-->
                <button type="button" class="btn btn-info" onclick="location.href='/EditPract/<%=resp.practica[i]._id%>'">Editar</button>
                <button type="button" class="btn btn-danger" onclick="location.href='/practica/<%=resp.practica[i]._id%>'">Eliminar</button>
              </span>
            </span>
            
            <img class="img-fluid" src="img/portfolio-1.jpg" alt="..">
          </a>
        </div>
  <% }%> 
  </div>
<br><br><br><br>
 <!-- subir -->
  <section class="content-section bg-primary text-white text-center" id="archivos">
    <div class="container">
      <div class="content-section-heading">
        <h2 class="mb-5">Subir Archivos</h2>
        <form action="/subir" method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
          <button type="submit">
              Subir
          </button>
      </form>
      </div>
      <div class="row">
      
      </div>
    </div>
  </section>

<!-- contact -->
  <footer class="footer text-center" id="contact">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="https://github.com/Erik-Jonathan-Perez-Flores/FundacionLS_GuiasLab_Frontend">
            <i class="icon-social-github"></i>
          </a>
        </li>
         <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="https://github.com/Erik-Jonathan-Perez-Flores/FundacionLS_GuiasLab_Backend">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Your Website 2019</p>
    </div>
  </footer>



<!--
              <form action="#" method="">
          <%for(var i=0; i<resp.practica.length ;i++) {%>
            <div class="card mx-auto  border-info " style="height: 90%; width:90%; margin-top: 30px; ">
                    <h5 class="card-header">Practica: N°<%=resp.practica[i].titulo%>
                     ---------------comentar esto--------------
                                     botton X
                     ---------------comentar esto--------------
                    <button type="button" class="close" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    ---------------comentar esto--------------
                                  hacer un Delete
                    ---------------comen<a href="EditText1" class="btn btn-info">Mostrar Practica</a>ar esto--------------
                    </h5>
                    <div class="card-body">
                      <h5 class="card-title">Contenido</h5>
                      <p class="card-text"><%=resp.practica[i].texto%></p>
                      <a href="EditText1" class="btn btn-info">Mostrar Practica</a>
                      <input type="submit" class="btn btn-danger" value="Eliminar">
                                            
                      </div>
                </div>
              
                 <% }%>   
                 </form>
-->
                <!-- Scroll to Top Button-->
 

             
</body>
<%-include("partials/diseño")%>
</html>
